body {
  font-family: 'Domine', serif; 
  color: #295d38;
} 
h1 {
  color: #fc349c;
  font-weight: bold;
  font-size: 60px;
}
p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.009em;
}
a {
  color: #fc349c;
}
div#main {
  max-width: 40em;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
}
.drop-caps{
  color: #fc349c;
  float: left;
  font-size: 42px;
  font-weight: bold;
  line-height: 42px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 56px;
  }
  div#main {
    margin: 10px 20px;
  }
}
